.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu, .EndScreen{
  width: 80vw;
  min-height: 60vh;
  border-radius: 15px;
  border: 2px solid black;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Quiz{
  width: 80vw;
  min-height: 60vh;
  border-radius: 15px;
  background-color: grey;
  border: 2px solid black;
}

.onlyQues h1{
  text-align: left;
}

.option{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.Menu button, .Quiz button, .EndScreen button{
  width: 50vw;
  height: 10vh;
  margin: 10px;
  border-radius: 8px;
  font-size: 1.7rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Quiz .finalButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Quiz .finalButton button{
  width: 20vw;
}
@media(max-width: 400px){
  .Quiz .finalButton button{
    width: 45vw;
  }
  #submit{
    width: 45vw;
  }

}


.startHome button{
  display: flex;
  background-color: rgb(235, 26, 26);
  color: white;
}
#nextQuestion{
  display: flex;
  font-size: 1.5rem;
  background-color: rgb(231, 39, 39);
  color: white;
}
#submit{
  background-color: rgb(0, 255, 21);
  color: black;
  
}
.col{
  background-color: aqua;
}